body.active-modal {
    overflow-y: hidden;
    z-index: 100000000;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.99);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #ffffff;
    opacity: 2;
    padding: 64px 28px;
    border-radius: 3px;
    max-width: 90vw;
    min-width: 20vw;
}

.close-modal {
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 5px 7px;
    border: 1px solid #000000;
}